modules = ["python-3.12", "python-3.10"]
run = "streamlit run streamlit_app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run streamlit_app.py"]

[[ports]]
localPort = 8501
externalPort = 80
